<form action="/new_recipe" method="post">
  Recipe Name:<br>
  <input type="text" name="recipe_name" value="">
  <br>
  Description:<br>
  <input type="text" name="recipe_description" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>

<a href="/"> RETURN TO HOMEPAGE </a>
